<!DOCTYPE html>
<html lang="en">

    <head>
    </head>

    <body>
        <h2>number of comparisions above 0.9 similarity score: {{ number_of_comparisions_above_09|length }}/{{ similarity_scores|length }}</h2>
        <h2>number of comparisions above 0.8 and lower then 0.9 similarity score: {{ number_of_comparisions_above_08_lower_to_09|length }}/{{ similarity_scores|length }}</h2>
        <h2>number of comparisions lower then 0.8 similarity score: {{ number_of_comparisions_lower_08|length }}/{{ similarity_scores|length }}</h2>
        <table border="1">
            {% for similarity_score in similarity_scores%}
                <tr>
                    <td>{{ similarity_score[0] }}</td>
                    {% if similarity_score[1]|float < 0.8 %}
                        <td bgcolor="#FF0000">{{ similarity_score[1] }}</td>
                    {% else %}
                        <td>{{ similarity_score[1] }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </body>

</html>
